<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>TecnoServicios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <!-- HERO -->
  <section class="hero">
    <h1>Soluciones Tecnológicas</h1>
    <p>Impulsamos tu negocio con tecnología moderna</p>

    <ion-button expand="block" shape="round" routerLink="/productos">
      Ver Productos
    </ion-button>
  </section>

  <!-- SERVICIOS -->
  <section class="services">
    <ion-card>
      <ion-icon name="laptop-outline"></ion-icon>
      <h3>Desarrollo Web</h3>
      <p>Aplicaciones modernas y escalables</p>
    </ion-card>

    <ion-card>
      <ion-icon name="phone-portrait-outline"></ion-icon>
      <h3>Apps Móviles</h3>
      <p>Apps con Ionic y Angular</p>
    </ion-card>

    <ion-card>
      <ion-icon name="shield-checkmark-outline"></ion-icon>
      <h3>Soporte Técnico</h3>
      <p>Mantenimiento y seguridad</p>
    
      
    </ion-card>
  </section>
</ion-content>


